# Mercado Pago Configuration
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_PUBLIC_KEY=
MERCADO_PAGO_CLIENT_ID=
MERCADO_PAGO_CLIENT_SECRET=
APP_URL=

# Firebase Configuration
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0624434095
FIREBASE_SERVICE_ACCOUNT=
